#tab-existing, div#clone {
    margin: 8px;
}

#tab-existing table {
    width: 100%;
}

#tab-existing th {
    text-align: right;
    width: 150px;
    max-width: 150px;
}

#tab-existing table td > * {
    min-width: 100%;
    max-width: 100%;
}

#tab-existing table td > input[type=checkbox] {
    min-width: inherit;
    max-width: inherit;
}

#placeholder {
    width: 100%;
    font-size: larger;
}

.job-wizard {
    margin: 25px 14px 14px;
}

.smartling_page_smartling-bulk-submit .job-wizard {
    margin-right: 17px;
}

div#job-tabs, div#action-tabs {
    width: 100%;
    max-width: 100%;
    height: 32px;
    min-height: 32px;
}

div#job-tabs span, div#action-tabs span {
    display: inline-block;
    padding: 8px 5px 5px 5px;
    float: left;
    width: 120px;
    min-width: 120px;

    text-align: center;
    margin-bottom: -1px;
    border: 1px solid darkgray;
}

div#job-tabs span:hover, div#job-tabs span.active, div#action-tabs span.active, div#action-tabs span:hover {
    background-color: lightgray;
    color: black;
    text-shadow: 1px 1px 1px grey;
}

div#job-tabs span:hover, div#action-tabs span:hover {
    cursor: pointer;
    background-color: #2A495F;
    color: whitesmoke;
}

span.loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/loader-m.gif") no-repeat;
}

div.tab, div#job-tabs span {

}

div#job-tabs span:first-child, div#action-tabs span:first-child {
    border-top-left-radius: 5px;
}

div#job-tabs span:last-child, div#action-tabs span:last-child {
    border-top-right-radius: 5px;
    margin-left: -1px;
}

div.tab-content table, div.tab-panel {
    border: 1px solid darkgray;
}

.clone-button {
    text-align: right;
}

#panel-box h2 span {
    padding-left: 20px;
}

#panel-box h2 {
    margin: 1em 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}

#panel-box .postbox {

    padding-bottom: 10px;
    margin-bottom: 16px;
}

#tab-existing table td p {
    min-width: 200px;
}

p.locale-list {
    margin: 3px;
}

#relatedContent label {
    display: block;
    margin-bottom: 3px;
}

#relatedContent .level-2 {
    margin-left: 1em;
}

#relationsInfo th {
    vertical-align: top;
}
