/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#smartling-form input[type="text"] {
    width: 80%;
    max-width: 500px;
}

#smartling-form .radio-label {
    display: inline-block;
    margin-bottom: 10px;
}

#smartling-form .plugin-locales span {
    display: inline-block;
    min-width: 125px;
}

#smartling-form .plugin-locales span + input {
    width: 60px;
}

#smartling-form .form-table td {
    margin-bottom: 25px;
}

#smartling-form .form-table th {
    margin-bottom: 5px;
}

#smartling-form .form-table th,
#smartling-form .form-table td {
    display: inline-table;
    padding: 3px;
}

#default-locales {
    display: none;
}

#smartling_connector_post_widget .inside {
    padding: 0;
}

#smartling_connector_post_widget .fields {
    padding-left: 20px;
}

#smartling_connector_post_widget .fields p label {
    padding-left: 20px;
}

#smartling_connector_post_widget .bottom {
    padding: 10px;
    clear: both;
    border-top: 1px solid #dddddd;
    background: #f5f5f5;
}

#smartling_connector_post_widget .submit {
    margin: 0;
    padding: 5px;
    text-align: right;
}

#smartling_connector_post_widget .submit input {
    display: inline-block;
}

#toplevel_page_smartling-submissions-page .wp-menu-image {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAB1WlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOkNvbXByZXNzaW9uPjE8L3RpZmY6Q29tcHJlc3Npb24+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgICAgIDx0aWZmOlBob3RvbWV0cmljSW50ZXJwcmV0YXRpb24+MjwvdGlmZjpQaG90b21ldHJpY0ludGVycHJldGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KAtiABQAABDZJREFUOBFtVG1sFEUYns/du97etdfSWkIbS8AmVLGkKPwRbKOkAmJArUZsS9Nev2hPjJGgxsRiYqKJCYVaa64t1ARLCTEhIURTRQRFCEY9QNJCqLZV4NraXj/u9m5vd2acvXImJsyPnZnMPM8+7/O+70Bwb4i2NrQQGttCKK1ECJaYCTOfA+HACM5Tqo4yyzrPOejVPu0O2hBRUYHhiRMshUc2gb2JTN9+T1GVoxZnUQjg26ZprY/r+koo+NOc83YIwHJK0Hcxf/3xUFNVjk1ik6WI5PniCDfVFBhRpiMcRxnurGc4EsWAA5dAYIJb7OLRzp5vXmqqWeakSrdUWmIY7EVv4PDZlDL0H2sczHrS1QNuLWOEA/46RCgdEGgghFYhCANV/vrbBJPNjo7AJihgu4OiM+HGXRtTypKKZn271qpOdVAIMWQlTJ8n0DccqqrKcTiRe2z0t1Dx4NXoXHPdToWgABfge9cn3c/KEPcDCBsNM7Iqo6s/DCdranLdGh2GCB52HAq8obfU7wAItAEh8jBCcYsxaTj+kRl607m/pmfKVubf5EL8Ismej/kbfpJKrkuV9TDub7Cz8Kfc7ND9DR2SYDdE4N3ZhHlsVp9bWOryFCiEvgMhes60QFl8KhxMz/VOmYzXAgGuKwo+ozO2DlmCD88zUrWwu65VsvvmIuYKfVrv9BLakqdl9qjEWZLW0fMCY3wvxeDbGNWp4PxNQvB+ravnmiQcwZxXJj2aqq11axq9IUxrD4+xH4hbGQYQ/CwYuwQxrpXe/e7s6C6PttYPSvPHL80brY+7yF0zoZc5nNo2hPATyRrClJfKy8ZEbOQU8ahHLCG+eu1QYMu8afWFZv55DAC4Rm/1vSwtOMAZf6qsry8uwcNOp3sdJfiKxD6YJJLpzTMSRhiMSgiEhQoiHx/0+/bmZGXeUlSHtAH3yyItjUait0xmpo/t3OrFBN8REC2RUcwJztxJIghQmFAlV8/OJhyAaVOY5ZFopM+IRP3Bc5dDpmAbIYY3MVWzpZLEB/2nI1AIDwQiwjBJAxDFk0Qcg4uUkONFXq8RN+MfIgHfT0vT6mRVB58sLz3FmVjqOBhodzlopaqQywEAZLklVpsJ4woXrEiWyTgUdjSyBxcbZfEbbq7b7qBknzQ207Ksa0Njoerl+UvWaJheiBnmWqKQbAn+fODqjYJXHnnoJBA8iGwSm8xu3uQs17Mx9vUfd2c23QkOFc8lQtUP5+e+6sLkAoNgX0bgyK8Ewi4J+2xbYUGBrK8NMcEGkulPqZHuS6+hiO5p7uLM3G4lrEmHqnjl3zhj7K20zt4Bmb0vJXi1syNQONNc/SgBdLOnq/ej/xPdC9N+CWRjrgcIpkPOxyfHJ84+UJTvpglxUl5ZpseiG7J6vvg7JeC+sx3e/Q4iLb7TcX/j+cmKCs0+T70aqflfZN0IHC22kX8AAAAASUVORK5CYII=) center no-repeat;
}

.widget-btn {
    position: relative;
    top: 3px;
    right: 70px;
    height: 14px;
    width: 14px;
    text-indent: 16px;
    display: inline-block;
    float: right;
    border: 1px solid #ffffff;
    border-radius: 100%;
}

.widget-btn > span {
    position: inherit;
    bottom: 2px;
}

.widget-btn.blue {
    background: #108fe8;
    box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.green {
    background: #0ec518;
    box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.red {
    background: #e53030;
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.yellow {
    background: #ffc334;
    box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.orange {
    background: #ff9700;
    box-shadow: 0 -2px 0 3px #ff7201 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.violet {
    background: #EE82EE;
    box-shadow: 0 -2px 0 3px #9400D3 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.outdated {
    text-indent: 0px;
}

.widget-btn > span {
    display: inline;
    position: relative;
    left: -65px;
    font-size: inherit;
}

span.percent-completed {
    left: -1px;
    position: absolute;
    bottom: -2px;
}

a.link-blog-name-limited {
    width: 130px;
    max-width: 130px;
    overflow: hidden;
}

#smartling-configuration-profile-form .plugin-locales input[type=text] {
    width: 50px;
}

#smartling-configuration-profile-form th[scope=row] {
    min-width: 190px;
    max-width: 190px;
}

#smartling-configuration-profile-form td {
    min-width: 560px;
    max-width: 560px;
}

#target-locale-block td {
    min-width: auto;
    max-width: inherit;
    padding-bottom: 5px;
    padding-top: 5px;
}

#bulkActionCb {
    width: 31px;
}

#targetLocale {
    width: 85px;
}

#submissionDate {
    width: 150px;
}

#appliedDate {
    width: 150px;
}

#wordCount {
    width: 85px;
}

#progress {
    width: 100px;
}

#status {
    width: 100px;
}

#submitter {
    width: 100px;
    max-width: 150px;
}

#applied_date, #submission_date {
    width: 140px;
    max-width: 140px;
}

#outdated {
    width: 70px;
    max-width: 80px;
}

#word_count {
    width: 80px;
    max-width: 90px;
}

table.form-table th {
    display: inline-table;
}

.hide {
    display: none;
}

.smtPostWidget-rowWrapper {
    position: relative;
    overflow: hidden;
}

.smtPostWidget-row {
    position: relative;
    width: 82%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.smtPostWidget-progress {
    position: relative;
    left: 40px;
    top: 3px;
}

.smtPostWidget-submitBlock {
    margin-top: 10px;
}

@media screen and (max-width: 782px) {
    .smtPostWidget-rowWrapper {
        line-height: 2em;
    }
}

.smartling-list {
    list-style: disc;
}

textarea.nowrap {
    overflow: scroll;
}

span.add-to-queue {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHdJREFUKM+tktENgCAMBWEzJiGySUdgpI7EBucHilVQorHvp5ALr7R1uLmO1JOQTglvocQ4FgtJuy4opZ2kQgE5QYpDr5DAG6igKBlHRjfTDtLL5/XzS/8V/tCnCt11PFrIswxmF/fZVWiyBXdGYqGxkRD6fXrQCoEl3XFXJ6U+AAAAAElFTkSuQmCC') no-repeat;
    padding-left: 24px;
}

.ajaxcall {
    font-weight: bold;
}

td.outdated {
    text-align: center;
}

span.submission-failed {
    color: #ba2000;
    border-bottom: dashed 1px #ba2000;
    cursor: pointer;
    font-weight: bold;
}

label.error {
    color: #ba2000;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
}

.hidden {
    display: none;
}

#error-messages span {
    color: #ba2000;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
}

div.locale-list {
    overflow: auto;
    max-height: 280px;
    margin-bottom: 10px;
    /* background-color: rgba(253, 253, 253 , 0.45); */
}

form.form-table table, form.form-table tr, form.form-table td {
    width: 100%;
}

form.form-table td p, p.locale-list {
    min-height: 22px;
    min-width: 200px;
    max-width: 200px;
    float: left;
}

.update-nag {
    margin: 0;
    padding: 0;
    width: 100%;
}

.update-nag p {
    padding-left: 6px;
}

.toggleExpert table {
    width: 100%;
}

th.center {
    text-align: center;
    font-weight: normal;
    font-size: larger;
}

.update-nag table th {
    max-width: 240px;
}

.update-nag table td {
    text-align: left;
}

.update-nag table td input[type=text], .update-nag table td textarea {
    width: 100%;
}

.update-nag table td textarea {
    height: 160px;
}

div.misc-pub-section a.thickbox:before {
    content: '\f173';
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    left: -1px;
    padding: 0 5px 0 0;
    position: relative;
    top: 0;
    text-decoration: none !important;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.status-flag-outdated, .status-flag-cloned, .status-flag-locked {
    bottom: 0px !important;
}

.status-flag-outdated {
    color: #aa5500;
}

.status-flag-cloned {
    color: #622aa9;
}

.status-flag-locked {
    color: #000000;
}

.notification-message-box {
    height: auto;
    min-height: 60px;
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    display: none;
    max-width: 250px;
    width:250px;
    margin: 5px 10px 5px 13px !important;
    padding: 1px 12px;
    word-wrap: break-word;
}

.notification-success {
    border-left-color: #46b450;
}

.notification-warning {
    border-left-color: #ffba00;
}

.notification-error {
    border-left-color: #dc3232;
}

.smartling-notification-wrapper, .smartling-notification-wrapper-general {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10001;
    width: 280px;
}

.smartling-notification-wrapper-general {
    left: 310px;
}

.hidden {
    display: none;
}

span.circle {
    background-color: #888a85;
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    top: 2px !important;
    position: relative !important;
}

.smartling-border-table {
    border-collapse: collapse;
}

.smartling-border-table, .smartling-border-table td, .smartling-border-table th {
    border: 1px solid #000;
}

.smartling-border-table td, .smartling-border-table th {
    padding: 0 1ex;
}

.smartling-border-table .numeric {
    text-align: right;
}
