/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#smartling-form input[type="text"] {
    width: 80%;
    max-width: 500px;
}

#smartling-form .radio-label {
    display: inline-block;
    margin-bottom: 10px;
}

#smartling-form .plugin-locales span {
    display: inline-block;
    min-width: 125px;
}

#smartling-form .plugin-locales span + input {
    width: 60px;
}

#smartling-form .form-table td {
    margin-bottom: 25px;
}

#smartling-form .form-table th {
    margin-bottom: 5px;
}

#smartling-form .form-table th,
#smartling-form .form-table td {
    display: inline-table;
    padding: 3px;
}

#default-locales {
    display: none;
}

#smartling_connector_post_widget .inside {
    padding: 0;
}

#smartling_connector_post_widget .fields {
    padding-left: 20px;
}

#smartling_connector_post_widget .fields p label {
    padding-left: 20px;
}

#smartling_connector_post_widget .bottom {
    padding: 10px;
    clear: both;
    border-top: 1px solid #dddddd;
    background: #f5f5f5;
}

#smartling_connector_post_widget .submit {
    margin: 0;
    padding: 5px;
    text-align: right;
}

#smartling_connector_post_widget .submit input {
    display: inline-block;
}

.widget-btn {
    position: relative;
    top: 3px;
    right: 70px;
    height: 14px;
    width: 14px;
    text-indent: 16px;
    display: inline-block;
    float: right;
    border: 1px solid #ffffff;
    border-radius: 100%;
}

.widget-btn > span {
    position: inherit;
    bottom: 2px;
}

.widget-btn.blue {
    background: #108fe8;
    box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.green {
    background: #0ec518;
    box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.red {
    background: #e53030;
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.yellow {
    background: #ffc334;
    box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.orange {
    background: #ff9700;
    box-shadow: 0 -2px 0 3px #ff7201 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.violet {
    background: #EE82EE;
    box-shadow: 0 -2px 0 3px #9400D3 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.outdated {
    text-indent: 0px;
}

.widget-btn > span {
    display: inline;
    position: relative;
    left: -65px;
    font-size: inherit;
}

span.percent-completed {
    left: -1px;
    position: absolute;
    bottom: -2px;
}

a.link-blog-name-limited {
    width: 130px;
    max-width: 130px;
    overflow: hidden;
}

#smartling-configuration-profile-form .plugin-locales input[type=text] {
    width: 50px;
}

#smartling-configuration-profile-form th[scope=row] {
    min-width: 190px;
    max-width: 190px;
}

#smartling-configuration-profile-form td {
    min-width: 560px;
    max-width: 560px;
}

#target-locale-block td {
    min-width: auto;
    max-width: inherit;
    padding-bottom: 5px;
    padding-top: 5px;
}

#bulkActionCb {
    width: 31px;
}

#contentType {
    width: 80px;
    max-width: 90px;
}

#targetLocale {
    width: 85px;
}

#submissionDate {
    width: 150px;
}

#appliedDate {
    width: 150px;
}

#wordCount {
    width: 85px;
}

#progress {
    width: 100px;
}

#status {
    width: 100px;
}

#submitter {
    width: 100px;
    max-width: 150px;
}

#applied_date, #submission_date {
    width: 140px;
    max-width: 140px;
}

#outdated {
    width: 70px;
    max-width: 80px;
}

#word_count {
    width: 80px;
    max-width: 90px;
}

table.form-table th {
    display: inline-table;
}

.hide {
    display: none;
}

.smtPostWidget-rowWrapper {
    position: relative;
    overflow: hidden;
}

.smtPostWidget-row {
    position: relative;
    width: 82%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.smtPostWidget-progress {
    position: relative;
    left: 40px;
    top: 3px;
}

.smtPostWidget-submitBlock {
    margin-top: 10px;
}

@media screen and (max-width: 782px) {
    .smtPostWidget-rowWrapper {
        line-height: 2em;
    }
}

.smartling-list {
    list-style: disc;
}

textarea.nowrap {
    overflow: scroll;
}

span.add-to-queue {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHdJREFUKM+tktENgCAMBWEzJiGySUdgpI7EBucHilVQorHvp5ALr7R1uLmO1JOQTglvocQ4FgtJuy4opZ2kQgE5QYpDr5DAG6igKBlHRjfTDtLL5/XzS/8V/tCnCt11PFrIswxmF/fZVWiyBXdGYqGxkRD6fXrQCoEl3XFXJ6U+AAAAAElFTkSuQmCC') no-repeat;
    padding-left: 24px;
}

.ajaxcall {
    font-weight: bold;
}

td.outdated {
    text-align: center;
}

span.submission-failed {
    color: #ba2000;
    border-bottom: dashed 1px #ba2000;
    cursor: pointer;
    font-weight: bold;
}

label.error {
    color: #ba2000;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
}

.hidden {
    display: none;
}

#error-messages span {
    color: #ba2000;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
}

div.locale-list {
    overflow: auto;
    max-height: 280px;
    margin-bottom: 10px;
    /* background-color: rgba(253, 253, 253 , 0.45); */
}

form.form-table table, form.form-table tr, form.form-table td {
    width: 100%;
}

form.form-table td p, p.locale-list {
    min-height: 22px;
    min-width: 200px;
    max-width: 200px;
    float: left;
}

.update-nag {
    margin: 0;
    padding: 0;
    width: 100%;
}

.update-nag p {
    padding-left: 6px;
}

.toggleExpert table {
    width: 100%;
}

th.center {
    text-align: center;
    font-weight: normal;
    font-size: larger;
}

.update-nag table th {
    width: 200px;
    max-width: 200px;
}

.update-nag table td {
    text-align: left;
}

.update-nag table td input[type=text], .update-nag table td textarea {
    width: 100%;
}

.update-nag table td textarea {
    height: 160px;
}

div.misc-pub-section a.thickbox:before {
    content: '\f173';
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    left: -1px;
    padding: 0 5px 0 0;
    position: relative;
    top: 0;
    text-decoration: none !important;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.status-flag-outdated, .status-flag-cloned, .status-flag-locked {
    bottom: 0px !important;
}

.status-flag-outdated {
    color: #aa5500;
}

.status-flag-cloned {
    color: #622aa9;
}

.status-flag-locked {
    color: #000000;
}

.notification-message-box {
    height: 60px;
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    display: none;
    max-width: 200px;
    width:200px;
    margin: 5px 10px 5px 13px !important;
    padding: 1px 12px;
}

.notification-success {
    border-left-color: #46b450;
}

.notification-warning {
    border-left-color: #ffba00;
}

.notification-error {
    border-left-color: #dc3232;
}

.smartling-notification-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10001;
    width: 280px;
}

