### COMPOSER ###
composer.*
!composer.json
!composer.phar

inc/third-party/*

#do not keep logs
#smartling logs
*.log
#unit tests logs
phpunit.log.*
smartling-cron.pid
logs/logfile*

# Atom files
.tags
.tags1
recover.php
tests/IntegrationTests/src

#IDE
.idea
