### COMPOSER ###
composer

inc/third-party/*

#do not keep logs
#smartling logs
*.log
#unit tests logs
phpunit.log.*
smartling-cron.pid
logs/logfile*

# Atom files
.tags
.tags1
recover.php
tests/IntegrationTests/src

#IDE
.idea

build/node_modules
build/.cache
js/smartling-block-sidebar.js
js/smartling-block-sidebar.js.map
