<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./../inc/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="smartling-connector WordPress plugin test">
            <directory suffix="Test.php" phpVersion="5.4.0" phpVersionOperator=">=">./</directory>
        </testsuite>
    </testsuites>
</phpunit>
