<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./IntegrationTests/includes/bootstrap.php"
         backupGlobals="false"
         colors="true"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
    <const name="WP_TESTS_MULTISITE" value="1" />
    <const name="SMARTLING_DEBUG" value="true" />
  </php>
  <testsuites>
    <testsuite name="smartling-connector WordPress plugin test">
      <directory suffix="Test.php" phpVersion="8.0.0" phpVersionOperator="&gt;=">./</directory>
      <exclude>./IntegrationTests</exclude>
    </testsuite>
    <testsuite name="smartling-connector WordPress integration test">
      <directory suffix="Test.php" phpVersion="8.0.0" phpVersionOperator="&gt;=">./IntegrationTests/tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="phpunit-results.xml"/>
  </logging>
  <coverage>
    <include>
      <directory suffix=".php">./../inc/Smartling/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./../inc/Smartling/WP/View/</directory>
      <directory suffix=".php">./../inc/Smartling/DbAl/Migrations/</directory>
    </exclude>
    <report>
      <clover outputFile="phpunit-coverage.xml"/>
    </report>
  </coverage>
</phpunit>
