<phpunit
        bootstrap="./IntegrationTests/includes/bootstrap.php"
        backupGlobals="false"
        colors="true"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="true"
        processIsolation="true"
        stopOnFailure="false"
        debug="true"
>
    <php>
        <const name="WP_TESTS_MULTISITE" value="1" />
        <const name="SMARTLING_DEBUG" value="true" />
    </php>
    <testsuites>
        <testsuite name="smartling-connector WordPress plugin test">
            <directory suffix="Test.php" phpVersion="7.4.0" phpVersionOperator=">=">./</directory>
            <exclude>./IntegrationTests</exclude>
        </testsuite>
        <testsuite name="smartling-connector WordPress integration test">
            <directory suffix="Test.php" phpVersion="7.4.0" phpVersionOperator=">=">./IntegrationTests/tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="phpunit-results.xml"/>
        <log type="coverage-clover" target="phpunit-coverage.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./../inc/Smartling/</directory>
            <exclude>
                <directory suffix=".php">./../inc/Smartling/WP/View/</directory>
                <directory suffix=".php">./../inc/Smartling/DbAl/Migrations/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
