parameters:
  known.attachment.rules: #built-in wordpress and Smartling-specific
    - "@image.id.related.attachment"
    - "@media-text.media-id.related.attachment"
    - "@smartling.lock.id.ignore"

services:
  image.id.related.attachment:
    class: Smartling\Helpers\GutenbergReplacementRule
    arguments:
      - "core/image"
      - "id"
      - "related|attachment"

  media-text.media-id.related.attachment:
    class: Smartling\Helpers\GutenbergReplacementRule
    arguments:
      - "core/media-text"
      - "mediaId"
      - "related|attachment"

  smartling.lock.id.ignore:
    class: Smartling\Helpers\GutenbergReplacementRule
    arguments:
      - ".+"
      - "smartlingLockId"
      - "copy"
