parameters:
  submission.pagesize.default: 20
  submission.pagesize: 20

services:
  content-type-descriptor-manager:
    class: Smartling\ContentTypes\ContentTypeManager

  media.attachment.rules.manager:
    class: Smartling\Tuner\MediaAttachmentRulesManager
    arguments:
      - "%known.attachment.rules%"

  persistent.notices.manager:
    class: Smartling\Helpers\AdminNoticesHelper

  factory.replacer:
    class: Smartling\Replacers\ReplacerFactory
    arguments:
      - "@manager.submission"

  factory.submission:
    class: Smartling\Submissions\SubmissionFactory

  smartling.helper.relative-image-path-support:
    class: Smartling\Helpers\RelativeLinkedAttachmentCoreHelper
    arguments:
      - "@entrypoint"
      - "@acf.dynamic.support"
      - "@manager.submission"
      - "@wp.proxy"

  smartling.helper.absolute-image-path-support:
      class: Smartling\Helpers\AbsoluteLinkedAttachmentCoreHelper
      arguments:
        - "@entrypoint"
        - "@acf.dynamic.support"
        - "@manager.submission"
        - "@wp.proxy"

  helper.customMenu:
    class: Smartling\Helpers\CustomMenuContentTypeHelper
    arguments:
      - "@factory.contentIO"
      - "@site.helper"

  helper.placeholders:
    class: Smartling\Helpers\PlaceholderHelper

  helper.plugins:
    class: Smartling\Helpers\PluginHelper

  helper.post.content:
    class: Smartling\Helpers\PostContentHelper
    arguments:
      - "@helper.gutenberg"

  helper.xml:
    class: Smartling\Helpers\XmlHelper
    arguments:
      - "@serializer.json"

  wrapper.sdk.api.smartling:
    class: Smartling\ApiWrapper
    arguments:
      - "@manager.settings"
      - "%plugin.name%"
      - "%plugin.version%"

  api.wrapper.with.retries:
    class: Smartling\ApiWrapperWithRetries
    arguments:
      - "@wrapper.sdk.api.smartling"

  queue.db:
    class: Smartling\Queue\Queue
    calls:
      - ["setDbal", ["@site.db"]]

  content.aioseo:
    class: Smartling\ContentTypes\ExternalContentAioseo
    arguments:
      - "@helper.placeholders"
      - "@site.helper"
      - "@site.db"
      - "@fields-filter.helper"

  content.elementor:
    class: Smartling\ContentTypes\ExternalContentElementor
    arguments:
      - "@fields-filter.helper"
      - "@manager.submission"
      - "@wp.proxy"

  content.relations.handler:
    class: Smartling\Services\ContentRelationsHandler
    arguments:
      - "@service.relations-discovery"

  entrypoint:
    class: Smartling\Base\SmartlingCore
    arguments:
      - "@manager.content.external"
      - "@helper.post.content"
      - "@helper.xml"
      - "@test.run.helper"
      - "@wp.proxy"
    calls:
      - [ "setSubmissionManager", [ "@manager.submission" ]]
      - [ "setSiteHelper", [ "@site.helper" ]]
      - [ "setApiWrapper", [ "@api.wrapper.with.retries" ]]
      - [ "setMultilangProxy", [ "@multilang.proxy" ]]
      - [ "setContentIoFactory", [ "@factory.contentIO" ]]
      - [ "setCache", [ "@site.cache" ]]
      - [ "setCustomMenuHelper", [ "@helper.customMenu" ]]
      - [ "setSettingsManager", [ "@manager.settings" ]]
      - [ "setQueue", ["@queue.db"]]
      - [ "setContentHelper", [ "@content.helper" ]]
      - [ "setTranslationHelper", [ "@translation.helper" ]]
      - [ "setFieldsFilter", [ "@fields-filter.helper" ] ]
      - [ "setContentSerializationHelper", [ "@content-serialization.helper" ] ]

  factory.contentIO:
    class: Smartling\Processors\ContentEntitiesIOFactory

  manager.content.external:
    class: Smartling\ContentTypes\ExternalContentManager
    arguments:
      - "@helper.plugins"
      - "@wp.proxy"
    calls:
      - ["addHandler", ["@content.aioseo"]]
      - ["addHandler", ["@content.elementor"]]

  manager.job:
    class: Smartling\Jobs\JobManager
    arguments:
      - "@site.db"
      - "@manager.submissions.jobs"

  manager.submission:
    class: Smartling\Submissions\SubmissionManager
    arguments:
     - "@site.db"
     - "%submission.pagesize%"
     - "@entity.helper"
     - "@manager.job"
     - "@manager.submissions.jobs"

  manager.submissions.jobs:
    class: Smartling\Jobs\SubmissionsJobsManager
    arguments:
      - "@site.db"

  site.helper:
    class: Smartling\Helpers\SiteHelper

  detect-changes.helper:
    class: Smartling\Helpers\DetectChangesHelper
    calls:
      - [ "setSettingsManager" , [ "@manager.settings" ] ]
      - [ "setSubmissionManager" , [ "@manager.submission" ] ]
      - [ "setContentSerializationHelper" , [ "@content-serialization.helper" ] ]

  site.db:
    class: Smartling\DbAl\DB

  site.cache:
    class: Smartling\Helpers\Cache

  manager.settings:
    class: Smartling\Settings\SettingsManager
    arguments:
      - "@site.db"
      - "%submission.pagesize%"
      - "@site.helper"
      - "@multilang.proxy"

  plugin.info:
      class: Smartling\Helpers\PluginInfo
      arguments:
        - "%plugin.name%"
        - "%plugin.version%"
        - "%plugin.url%"
        - "%plugin.dir%"
        - "%plugin.domain%"
        - "@manager.settings"
        - "%plugin.upload%"

  localization.plugin.proxy.collection:
    class: Smartling\Services\LocalizationPluginProxyCollection
    calls:
      - [ "addConnector", ["@multilingualpress3.connector"]]
      - [ "addConnector", ["@multilingualpress2.connector"]]

  multilang.proxy: # changed at Bootstrap
    class: Smartling\DbAl\DummyLocalizationPlugin

  multilingualpress2.connector:
    class: Smartling\DbAl\MultilingualPress2Connector

  multilingualpress3.connector:
    class: Smartling\DbAl\MultilingualPress3Connector

  entity.helper:
    class: Smartling\Helpers\EntityHelper
    calls:
      - [ "setPluginInfo", [ "@plugin.info" ]]
      - [ "setConnector", [ "@multilang.proxy" ]]
      - [ "setSiteHelper", [ "@site.helper" ]]

  test.run.helper:
    class: Smartling\Helpers\TestRunHelper
    arguments:
      - "@site.helper"
      - "@helper.gutenberg"

  wp.proxy:
    class: Smartling\Helpers\WordpressFunctionProxyHelper

  wp.i18n:
    class: Smartling\WP\i18n
    arguments:
      - "@plugin.info"

  wp.settings:
    class: Smartling\WP\Controller\ConfigurationProfilesController
    arguments:
      - "@multilang.proxy"
      - "@plugin.info"
      - "@entity.helper"
      - "@manager.submission"
      - "@site.cache"
    calls:
      - [ "setQueue", [ "@queue.db" ]]

  wp.settings.edit:
    class: Smartling\WP\Controller\ConfigurationProfileFormController
    arguments:
      - "@multilang.proxy"
      - "@plugin.info"
      - "@entity.helper"
      - "@manager.submission"
      - "@site.cache"

  wp.submissions:
    class: Smartling\WP\Controller\SubmissionsPageController
    arguments:
      - "@api.wrapper.with.retries"
      - "@multilang.proxy"
      - "@plugin.info"
      - "@entity.helper"
      - "@manager.submission"
      - "@site.cache"
      - "@queue.db"

  wp.taxonomy.linker:
    class: Smartling\WP\Controller\TaxonomyLinksController
    arguments:
      - "@plugin.info"
      - "@multilang.proxy"
      - "@site.helper"
      - "@manager.submission"
      - "@wp.proxy"
      - "@entity.helper"
      - "@site.cache"

  wp.test.run:
    class: Smartling\WP\Controller\TestRunController
    arguments:
      - "@plugin.info"
      - "@multilang.proxy"
      - "@site.helper"
      - "@manager.submission"
      - "@entity.helper"
      - "@site.cache"
      - "@service.relations-discovery"
      - "@api.wrapper.with.retries"
      - "@manager.settings"
      - "%cron.interval.upload%"

  wp.checkStatus:
      class: Smartling\WP\Controller\CheckStatusController
      arguments:
        - "@multilang.proxy"
        - "@plugin.info"
        - "@entity.helper"
        - "@manager.submission"
        - "@site.cache"

  service.submission-cleanup:
    class: Smartling\Helpers\SubmissionCleanupHelper
    calls:
      - [ "setApiWrapper", [ "@api.wrapper.with.retries" ] ]
      - [ "setSiteHelper" , [ "@site.helper" ] ]
      - [ "setSubmissionManager", [ "@manager.submission" ] ]
      - [ "setIoWrapper", [ "@factory.contentIO" ] ]
      - [ "setMultilangProxy", [ "@multilang.proxy" ]]

  wp.bulkSubmit:
    class: Smartling\WP\Controller\BulkSubmitController
    arguments:
      - "@multilang.proxy"
      - "@plugin.info"
      - "@entity.helper"
      - "@manager.submission"
      - "@site.cache"

  helper.gutenberg:
    class: Smartling\Helpers\GutenbergBlockHelper
    arguments:
      - "@media.attachment.rules.manager"
      - "@factory.replacer"
      - "@serializer.json"
      - "@wp.proxy"
    calls:
      - [ "setFieldsFilter", [ "@fields-filter.helper" ]]

  helper.shortcode:
    class: Smartling\Helpers\ShortcodeHelper
    calls:
      - [ "setFieldsFilter", [ "@fields-filter.helper" ]]

  default.meta-field-processor:
    class: Smartling\Helpers\MetaFieldProcessor\DefaultMetaFieldProcessor

  post.content.processor:
    class: Smartling\Helpers\MetaFieldProcessor\PostContentProcessor
    arguments:
      - "@helper.gutenberg"
      - "@wp.proxy"

  meta-field.processor.manager:
    class: Smartling\Helpers\MetaFieldProcessor\MetaFieldProcessorManager
    calls:
      - [ "setDefaultHandler", [ "@default.meta-field-processor" ] ]
      - [ "setAcfTypeDetector", [ "@acf.type.detector" ] ]
      - [ "registerProcessor", ["@post.content.processor"]]

  service.side-removal-handler:
    class: Smartling\Services\BlogRemovalHandler
    calls:
      - [ "setApiWrapper", [ "@api.wrapper.with.retries" ] ]
      - [ "setSubmissionManager", [ "@manager.submission" ] ]

  service.invalid-character-cleaner:
    class: Smartling\Services\InvalidCharacterCleaner

  service.filter-ui:
    class: Smartling\Services\SmartlingFilterUiService
    arguments:
      - "@media.attachment.rules.manager"
      - "@factory.replacer"

  extension.loader:
    class: Smartling\Extensions\ExtensionLoader
    calls:
    #  - [ "registerExtension", [ "@extension.translation_lock" ]]

  translation.helper:
    class: Smartling\Helpers\TranslationHelper
    arguments:
      - "@multilang.proxy"
      - "@site.helper"
      - "@manager.submission"

  content.helper:
    class: Smartling\Helpers\ContentHelper
    calls:
      - [ "setIoFactory", [ "@factory.contentIO" ]]
      - [ "setSiteHelper", [ "@site.helper" ]]

  fields-filter.helper:
    class: Smartling\Helpers\FieldsFilterHelper
    arguments:
      - "@manager.settings"
      - "@acf.dynamic.support"

  content-serialization.helper:
    class: Smartling\Helpers\ContentSerializationHelper
    arguments:
    - "@content.helper"

  acf.dynamic.support:
    class: Smartling\Extensions\Acf\AcfDynamicSupport
    arguments:
      - "@entity.helper"

  acf.type.detector:
    class: Smartling\Extensions\Acf\AcfTypeDetector
    arguments:
      - "@content.helper"
      - "@site.cache"

  wp.translation.lock:
    class: Smartling\WP\Controller\TranslationLockController
    arguments:
      - "@multilang.proxy"
      - "@plugin.info"
      - "@entity.helper"
      - "@manager.submission"
      - "@site.cache"
      - "@content.helper"
      - "@helper.gutenberg"

  live_notification.service:
    class: Smartling\WP\Controller\LiveNotificationController
    arguments:
      - "@api.wrapper.with.retries"
      - "@manager.settings"
      - "@site.cache"
      - "@plugin.info"

  service.relations-discovery:
    class: Smartling\Services\ContentRelationsDiscoveryService
    arguments:
      - "@acf.dynamic.support"
      - "@content.helper"
      - "@fields-filter.helper"
      - "@meta-field.processor.manager"
      - "@multilang.proxy"
      - "@smartling.helper.absolute-image-path-support"
      - "@helper.shortcode"
      - "@helper.gutenberg"
      - "@factory.submission"
      - "@manager.submission"
      - "@api.wrapper.with.retries"
      - "@media.attachment.rules.manager"
      - "@factory.replacer"
      - "@manager.settings"
      - "@helper.customMenu"
      - "@manager.content.external"
