/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#smartling-form input[type="text"] {
	width: 80%;
	max-width: 500px;
}

 #smartling-form .radio-label {
 	display: inline-block;
 	margin-bottom: 10px;
 }

 #smartling-form .plugin-locales span {
 	display: inline-block;
	min-width: 125px;
 }

 #smartling-form .plugin-locales span + input {
 	width: 60px;
 }

#smartling-form .form-table td {
	margin-bottom: 25px;
}
#smartling-form .form-table th {
	margin-bottom: 5px;
}
#smartling-form .form-table th, 
#smartling-form .form-table td {
	display: block;
	padding: 3px;
}

#default-locales {
	display: none;
}

#smartling_connector_post_widget .inside {
	padding: 0;
}

#smartling_connector_post_widget .fields {
	padding-left: 20px;
}

#smartling_connector_post_widget .fields p label {
	padding-left: 20px;
}

#smartling_connector_post_widget .bottom {
	padding: 10px;
	clear: both;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
}

#smartling_connector_post_widget .submit {
	margin: 0;
	padding: 5px;
	text-align: right;
}

#smartling_connector_post_widget .submit input {
	display: inline-block;
}

.widget-btn {
	position: relative;
	top: 3px;
	right: 70px;
	height: 14px;
	width: 14px;
	text-indent: 25px;
	display: inline-block;
	float: right;
	border: 1px solid #fff;
	border-radius: 100%;
}

.widget-btn>span {
	position: inherit;
	bottom: 2px;
}

.widget-btn.blue {
	background: #108fe8;
	box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
.widget-btn.green {
	background: #0ec518;
	box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.red {
	background: #e53030;
	box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.widget-btn.yellow {
	background: #ffc334;
	box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
/*.btn-yellow:hover {
 	background: #333333;
 	box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}*/